{% extends "users/base.html" %} {% block content %} {% load crispy_forms_tags %}
{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'generate.css' %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="{% static 'generate.js' %}"></script>
</head>
<body>
  {% if file_path %}
  <div class="midi">
  <center>
 <h1>YOUR FILE IS READY!!<h1>
  <a href="{{file_path}}" class="btn">Download output</a>
  </center>
  </div>

  {% else %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{form.input_midi}}
      <p>Drag your files here or click in this area.</p>
    </div>
    <button type="submit">Generate</button>
  </form>
  {% endif %}
</body>
{% endblock %}
