{% extends "users/base.html" %} {% load crispy_forms_tags %} {% load static %}
{% block content %}
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="{% static 'merge_audio.js' %}"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'merge_audio.css' %}"
  />
</head>
<body>
  {% if merged %}
  <audio controls autoplay>
    <source src="{{merged_file_path}}" type="audio/mpeg" />
  </audio>
  <!-- download button -->
  <a href="{{merged_file_path}}" class="btn">Download output</a>
  {% else %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
      <div class="new-song-file">
        {{form.audio_file}}
        <p class="file-text" id="file1">
          Drag your files here or click in this area.
        </p>
      </div>

      <div class="new-song-file">
        {{form.audio_file_2}}
        <p class="file-text" id="file2">
          Drag your files here or click in this area.
        </p>
      </div>
      {% comment %}
      <div class="form-group">
        {{form.audio_file}}
        <p>Drag your files here or click in this area.</p>
      </div>
      <div class="form-group">
        {{form.audio_file_2}}
        <p>Drag your files here or click in this area.</p>
      </div>
      {% endcomment %}
    </div>
    {% comment %} {{form | crispy}}
    <button type="submit">Upload</button> {% endcomment %}
    <button type="submit">Merge</button>
  </form>
  {% endif %} {% endblock %}
</body>
