{% extends "users/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% if merged %}
        <audio controls autoplay>
            <source src="{{merged_file_path}}" type="audio/mpeg">
        </audio>
        <!-- download button -->
        <a href="{{merged_file_path}}" class="btn">Download output</a>
    {% else %} 
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form | crispy}}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    {% endif %}

{% endblock %}