{% extends "users/base.html" %} {% block content %} {% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'display.css' %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="{% static 'display.js' %}"></script>
</head>
<body>
  {% if songs %}
  <!-- display id, title, created_at in bootstrap table -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <center>
          <h1 style="margin-top: 50px; color: white">Songs List</h1>
        </center>
        <br />
        <table class="table" id="tracks">
          <thead>
            <tr class="head">
              <th class="head" onclick="sortTablenum()" style="cursor: pointer">
                ID
              </th>
              <th class="head" onclick="sortTable(0)" style="cursor: pointer">
                USER
              </th>
              <th class="head" onclick="sortTable(0)" style="cursor: pointer">
                TITLE
              </th>
              <th class="head">CREATED AT</th>
            </tr>
          </thead>
          <tbody>
            {% for song in songs %}
            <tr class="table-row">
              <td>{{ song.id }}</td>
              <td>{{ song.user.username }}</td>
              <td><a href="{{song.song.url}}">{{song.title }}</a></td>
              <td>{{ song.created_at }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% else %}
    <h4>No songs available!</h4>
    {% endif %} {% endblock %}
  </div>
</body>
