{% extends "users/base.html" %} {% load crispy_forms_tags %} {% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'upload.css' %}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="{% static 'generate.js' %}"></script>
</head>
<body>
  <div
    id="container"
    style="margin-top: 100px; margin-left: 600px; width: 500px"
  >
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %} {% comment %} {{form | crispy}} {% endcomment %}

      <div class="form-group">
        <label>Song Title</label>
        {{form.title}}

        <label class="genre">Genre</label>
        {{form.genre}}

        <div class="new-song-file">
          {{form.audio_file}}
          <p class="file-text">Drag your files here or click in this area.</p>
        </div>
        {{form.is_public}}
        <span class="public">Make song public?</span>
      </div>
      <button type="submit">Upload</button>
    </form>
  </div>
  {% endblock %}
</body>
