{% extends "users/base.html" %} {% block content %} {% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'users/home.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <div class="main">
    <div class="title" style="width: 60%; margin: auto">
      <h3 style="text-align: center">Welcome {{user}}</h3>
    </div>
    <br />

    <div class="cont" style="width: 80%; margin: auto; margin-top: 120px">
      <ul class="scroll">
        <li class="list-item">
          <div class="card carda">
            <a
              class="card-block stretched-link text-decoration-none"
              href="/midi-generate/"
            >
              <div class="card-body">
                <center>
                  <div class="card-icon">
                    <i
                      class="fa fa-cogs fa-10x"
                      aria-hidden="true"
                      style="color: white"
                    ></i>
                  </div>
                </center>
                <center>
                  <div class="card-title">Generate MIDI File</div>
                </center>
              </div>
            </a>
          </div>
        </li>
        <li class="list-item">
          <div class="card cardb">
            <a
              class="card-block stretched-link text-decoration-none"
              href="/audio-merge/"
            >
              <div class="card-body">
                <center>
                  <div class="card-icon">
                    <i
                      class="fas fa-code-merge fa-10x"
                      aria-hidden="true"
                      style="color: white"
                    ></i>
                  </div>
                </center>
                <center>
                  <div class="card-title">Merge Songs</div>
                </center>
              </div>
            </a>
          </div>
        </li>
        <li class="list-item">
          <div class="card cardc">
            <a
              class="card-block stretched-link text-decoration-none"
              href="/song-upload/"
            >
              <div class="card-body">
                <center>
                  <div class="card-icon">
                    <i
                      class="fa fa-upload fa-10x"
                      aria-hidden="true"
                      style="color: white"
                    ></i>
                  </div>
                </center>
                <center>
                  <div class="card-title">Upload New Song</div>
                </center>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  {% endblock %}
</html>
