{% extends "users/base.html" %}
{% block content %}
    <div class="main">
        <div class="title" style="width: 60%; margin: auto">
            <h3 style="text-align: center">Welcome {{user}}</h3>
            
            <br><p>Want to generate a MIDI file? Click <a href="/midi-generate/">here</a></p>
            <br><p>Want to merge two songs? Click <a href="/audio-merge/">here</a></p>
            <br><p>Want to upload a new song? Click <a href="/song-upload/">here</a></p>
            <br><p>Want to view the list of songs users have uploaded? Click <a href="/songs-view/">here</a></p>
            
        </div>
    </div>

{% endblock %}