@import url(//fonts.googleapis.com/css?family=Pacifico);

body {
  min-height: 100vh;
  padding-top: 5rem;
  background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center
    no-repeat;
  background-size: cover;
  margin: 0;
  overflow: hidden;
}
.table {
  width: 100%;
  background: #1129;
}
.head {
  color: white;
  font-weight: 500;
  font-size: 20px;
  background: grey;
}

tr:nth-child(even) {
  background: blueviolet;
  opacity: 0.5;
  color: white;
  font-weight: 500;
  font-size: 20px;
}
tr:nth-child(odd) {
  font-weight: 500;
  font-size: 20px;
  color: white;
}
